<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dokiwa.dokidoki.relationship">

    <application>
        <activity
            android:name=".follow.RelationshipActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".blacklist.BlackListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".blacklist.BanReportActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feedback.FeedbackActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible"
            android:screenOrientation="portrait"/>
    </application>

</manifest>