<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dokiwa.dokidoki.timeline">

    <application>
        <activity
            android:name=".comment.TimelineCommentActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".create.CreateTimelineActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".personal.UserTimelineListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".notify.TimelineNotifyListActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
