<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dokiwa.dokidoki.login">

    <application>
        <activity
            android:taskAffinity="@string/login_activity_affinity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/AppTheme"
            android:name=".activity.LoginActivity">
        </activity>

        <activity
            android:taskAffinity="@string/login_activity_affinity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/AppTheme"
            android:name=".activity.VerifyCodeActivity">
        </activity>

        <activity
            android:taskAffinity="@string/login_activity_affinity"
            android:name=".activity.BindPhoneActivity"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="dokidoki"
                    android:host="dokiwa.com"
                    android:path="/me/bind_phone"/>
            </intent-filter>
        </activity>

    </application>

</manifest>