<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dokiwa.dokidoki.home">

    <application>
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".SearchActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>